@using MVC_TODO_List.Enums
@model IEnumerable<ToDoItemModel>

@{
    ViewData["Title"] = "To Do List";
}

<div class="list">
    <div class="header">
        <span class="content">
            To Do List
        </span>
        <button class="list-button button" onclick="addItem()">
            +
        </button>
    </div>
    <div class="body">
        @foreach (var status in Constants.ItemStatuses)
        {
            <div class="group"
                 status="@status.Key">
                <div class="header">
                    <span class="content">
                        @status.Value
                    </span>
                </div>
                <div class="body">
                    @foreach (var item in Model.Where(x => x.Status == status.Key))
                    {
                        <div id="@item.Id"
                             class="item"
                             priority="@item.Priority"
                             draggable="true" ondragstart="itemDragStart(event)">
                            <div class="header">
                                @if (item.Status != ItemStatus.Canceled && item.Status != ItemStatus.Completed)
                                {
                                    <button class="list-button button cancel_button"
                                            onclick="changeItemStatusOnClick(event, '@ItemStatus.Canceled')">
                                        ✗
                                    </button>
                                }
                                <span class="content dragger">
                                    •••
                                </span>
                                @if (item.Status != ItemStatus.Canceled && item.Status != ItemStatus.Completed)
                                {
                                    <button class="list-button button complete_button"
                                            onclick="changeItemStatusOnClick(event, '@ItemStatus.Completed')">
                                        ✓
                                    </button>
                                }
                            </div>
                            <div class="body clickable"
                                 onclick="editItem(event)">
                                <div class="name">
                                    @item.Name
                                </div>
                                <div class="description">
                                    @item.Description
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>

<dialog id="edit_dialog">
    <div class="header">
        <button id="delete_button"
              class="list-button button">
            ♺
        </button>
        <span class="content">
            Edit Item
        </span>
    </div>
    <div class="body">
        <div class="body property_field">
            <span>
                <label for="name">
                    Name:
                </label>
            </span>
            <span>
                <input id="name"
                       type="text"
                       class="property_element" />
            </span>
        </div>
        <div class="body property_field">
            <span>
                <label for="description">
                    Description:
                </label>
            </span>
            <span>
                <textarea id="description"
                          class="property_element"
                          cols="40" rows="3">
            </textarea>
            </span>
        </div>
        <div class="body property_field">
            <span>
                <label for="priority">
                    Priority:
                </label>
            </span>
            <span>
                <select id="priority"
                        class="property_element">
                    <option value="@ItemPriority.Minor">
                        Minor
                    </option>
                    <option value="@ItemPriority.Normal" selected>
                        Normal
                    </option>
                    <option value="@ItemPriority.Major">
                        Major
                    </option>
                </select>
            </span>
        </div>
        <div class="body property_field">
            <span>
                <label for="status">
                    Status:
                </label>
            </span>
            <span>
                <select id="status"
                        class="property_element">
                    <option value="@ItemStatus.Planned" selected>
                        Planned
                    </option>
                    <option value="@ItemStatus.InProgress">
                        In Progress
                    </option>
                    <option value="@ItemStatus.Completed">
                        Completed
                    </option>
                    <option value="@ItemStatus.Canceled">
                        Canceled
                    </option>
                </select>
            </span>
        </div>
        <div class="button_block">
            <button id="discard_button"
                  class="list-button button"
                  onclick="closeEditDialog()">
                ✗
            </button>
            <button id="save_button"
                  class="list-button button">
                ✓
            </button>
        </div>
    </div>
</dialog>

@section Scripts {
    <script>
        const editDialog = $('#edit_dialog')[0]

        const editNameElement = editDialog.querySelector('#name')
        const editDescriptionElement = editDialog.querySelector('#description')
        const editPriorityElement = editDialog.querySelector('#priority')
        const editStatusElement = editDialog.querySelector('#status')

        const editSaveButton = $('#save_button')
        const editDeleteButton = $('#delete_button')

        const item = {}
        let controller = '@ViewContext.RouteData.Values["controller"]', actionUrl = '', methodType = ''

        function copyDataFromItemElement(itemElement) {
            item.id = itemElement.id
            item.Name = itemElement.querySelector('.name').innerText
            item.Description = itemElement.querySelector('.description').innerText
            item.Priority = itemElement.getAttribute('priority')
            item.Status = itemElement.closest('.group').getAttribute('status')
        }

        function makeChangeRequest(url, type, data) {
            $.ajax({
                type: type,
                url: url,
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: () => {
                    location.reload()
                },
                error: () => {
                    alert('Error while saving data')
                }
            })
        }

        function saveItem(url, type) {
            item.Name = editNameElement.value
            item.Description = editDescriptionElement.value
            item.Priority = editPriorityElement.value
            item.Status = editStatusElement.value

            makeChangeRequest(url, type, item)
        }

        function changeItemStatus(item, newStatus) {
            item.Status = newStatus

            actionUrl = `${controller}/Update/${item.id}`
            methodType = 'PUT'

            makeChangeRequest(actionUrl, methodType, item)
        }

        function changeItemStatusOnClick(e, newStatus) {
            const itemElement = e.target.closest('.item')

            copyDataFromItemElement(itemElement)

            changeItemStatus(item, newStatus)
        }

        function openEditDialog(itemElement) {
            if (itemElement) {
                copyDataFromItemElement(itemElement)

                actionUrl = `${controller}/Update/${item.id}`
                methodType = 'PUT'
                editDeleteButton.show()
                editDeleteButton.click(() => { makeChangeRequest(`${controller}/Delete/${item.id}`, 'DELETE') })
            } else {
                item.Name = ''
                item.Description = ''
                item.Priority = '@ItemPriority.Normal'
                item.Status = '@ItemStatus.Planned'

                actionUrl = `${controller}/Add`
                methodType = 'POST'
                editDeleteButton.hide()
            }

            editNameElement.value = item.Name
            editDescriptionElement.value = item.Description
            editPriorityElement.value = item.Priority
            editStatusElement.value = item.Status

            editSaveButton.click(() => { saveItem(actionUrl, methodType) })

            editDialog.showModal()
        }

        function closeEditDialog() {
            editNameElement.value = ''
            editDescriptionElement.value = ''
            editPriorityElement.value = '@ItemPriority.Normal'
            editStatusElement.value = '@ItemStatus.Planned'

            editDialog.close()
        }

        function addItem() {
            openEditDialog()
        }

        function editItem(e) {
            const itemElement = e.target.closest('.item')

            openEditDialog(itemElement)
        }

        function itemDragStart(e) {
            e.dataTransfer.setData('text/plain', e.target.id)
            e.dataTransfer.effectAllowed = 'move'
        }
        
        function itemDragover(e) {
            e.preventDefault()
        }

        function itemDrop(e, status) {
            const itemId = e.dataTransfer.getData('text/plain')
            const itemElement = $(`#${itemId}`)[0]

            copyDataFromItemElement(itemElement)

            if (item.Status !== status) {
                item.Status = status
                changeItemStatus(item, status)
            }
        }

        $('.group').each((i, group) => {
            const status = group.getAttribute('status')
            group.addEventListener('dragover', (event) => itemDragover(event))
            group.addEventListener('drop', (event) => itemDrop(event, status))
        })
    </script>
}
